---
layout: default
---

{% include header.html %}

<div class="portfolio">
    <img src="assets/img/photo.jpg" width="150"/>
    <ul>
        <h1>Education:</h1>
        {% for education in site.data.education %}
        <li>
            <span>{{ education.time }}</span>
        </li>
        <li>
          <span>{{ education.title }}, {{ education.school }}. </span>
        </li>
        <li>
          {{ education.notes }}
        </li>
        {% endfor %}
    </ul>
</div>

<div class="portfolio">
    <ul>
        <h1>Projects:</h1>
        {% for item in site.data.projects %}
        <li>
            <span>{{ item.name }}</span>
        </li>
        <li>
            <span>{{ item.intro }}</span>
        </li>
        {% endfor %}
    </ul>
</div>
